<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>cliente-add-edit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding-top>
  <ion-item>
    <ion-label position="stacked">Nombre</ion-label>
    <ion-input type="text" placeholder="Ingrese nombre"></ion-input>
  </ion-item>

  <ion-input type="email" placeholder="Email"></ion-input>
  <ion-input type="tel" placeholder="Teléfono"></ion-input>
  <ion-input type="number" placeholder="Ingreso"></ion-input>
  <ion-input type="text" placeholder="Procedencia"></ion-input>
  <ion-button shape="round" color="primary" expand="block" padding>
    Confirmar
  </ion-button>
</ion-content>
